<%= form_with( model: task, local: true, class: "form-group") do |form| %>
  <% if task.errors.any? %>
    <div id="error_expanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.text_field :content, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :limit_date %>
    <%= form.date_field :limit_date %>
  </div>

  <div class="field form-group">
    <%= form.label t('tasks.status') %>
    <%= form.select(:status,['未着手', '着手中', '完了']) %>    
  </div>

  <div class="field form-group">
    <%= form.label t('tasks.priority') %>
    <%= form.select(:priority,Task.priorities.keys) %>    
  </div>

  <div class="action">
    <%= form.submit %>
  </div>
<% end %>