<h1><%= t('tasks.index') %></h1>

<%= link_to t('tasks.new'), new_task_path ,class:"btn btn-primary"%>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true"), class: "btn btn-success" %>
<%= link_to "優先度でソートする", tasks_path(sort_priority: "true"), class: "btn btn-warning" %>

<%= form_with(scope: :task, url: tasks_path, local: true, method: :get, class: :search_form) do |form| %>
  <%= form.label t('tasks.title_search')%>
  <%= form.text_field :title %>

  <%= form.label t('tasks.status_search') %>
  <%= form.select(:status,["",'未着手', '着手中', '完了'])%>

  <%= form.hidden_field :search, value: "true" %>

  <%= form.label t('tasks.label') %>
  <%= form.select(:label_id, Label.all.map{ |l| [l.title, l.id]}, include_blank: true) %>

  <%= submit_tag("Search") %>
<% end %>

<table class="table table-borderd">
  <thead>
    <tr>
      <th><%= t('tasks.title') %></th>
      <th><%= t('tasks.content') %></th>
      <th><%= t('tasks.limit_date') %></th>
      <th><%= t('tasks.status') %></th>
      <th><%= t('tasks.priority') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table-body">
    <% @tasks.each do |task| %>
      <tr>
        <td class="task-title"><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.limit_date%></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= link_to t('tasks.show'), task %></td>
        <td><%= link_to t('tasks.edit'), edit_task_path(task) %></td>
        <td><%= link_to t('tasks.delete'), task, method: :delete, data: { confirm: t('tasks.delete_confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>