<div class="box4">
<p>
  <strong><%= t('tasks.title') %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('tasks.content') %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('tasks.limit_date') %>:</strong>
  <%= @task.limit_date %>
</p>

<p>
  <strong><%= t('tasks.status') %>:</strong>
  <%= @task.status %>
</p>

<p>
  <strong><%= t('tasks.priority') %>:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong><%= t('tasks.label') %>:</strong>
  <% @task.related_labels.each do |label| %>
    <%= label.title %>
  <% end %>
</p>
</div>

<%= link_to t('tasks.edit'), edit_task_path(@task), class: 'btn btn-default' %>
<%= link_to t('tasks.back'), tasks_path, class: 'btn btn-default' %>