<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagementApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= render 'layouts/header' %>
  </header>
  <% flash.each do |key, value| %>
    <% key = "info" if key == "notice" %>
    <% key = "danger" if key == "alert" %>
    <%= content_tag(:div, value, class: "alert alert-success alert-#{key}" ,role: "alert") %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
